.new-wine-form label {
    text-align: left;
    font-size: 14px;
    color: var(--color-black);
}

.new-post-form input,
.new-post-form textarea {
    padding: 12px;
    margin: 4px 0 12px 0;
    border-radius: 6px;
    border: 1px solid #D1D3DB;
    background-color: white;
}