
.image-wrapper {
    max-width: 200px; /* Adjust width as necessary */
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}

.side-nav-container ul {
    list-style-type: none; /* Remove default bullet points */
    margin: 0;
    padding: 0;
}

.side-nav-container li {
    margin: 10px 0;
}

.side-nav-container a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Adjust link color */
    font-weight: bold;
}

.side-nav-container a:hover {
    color: #007bff; /* Highlight color on hover */
}
