.main-navigation {
    background-color: var(--color-secondary-dark);
    padding: 16px 0;
    justify-content: space-between;
    gap: 50px;
    border: 2px solid black;
}

.main-navigation-links {
    list-style: none;
    text-transform: uppercase;
}
.main-navigation a,
.main-navigation a:visited {
    color: var(--color-white);
    font-weight: 600;
}

.main-navigation a:hover {
    color: var(--color-primary);
}

.inner-nav-container {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    /*We voegen margin toe aan de linker- en rechterkant, zodat de content nooit helemaal tegen de rand gedrukt kan worden*/
    margin: 0 20px;
    /*We zorgen er ook voor dat deze flex-item op haar beurt ook weer een flexbox container is, waarin alle children onder elkaar komen te staan*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px dotted red;
}

.main-navigation-links {
    list-style: none;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    border: 2px solid green;
}
.is-auth-nav-list {
    list-style: none;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    border: 2px solid green;
}