/*.overview-wines-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
}*/

.overview-wines-div{
    padding: 0;
}
.overview-wines-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
