.outer-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid purple;
}

.inner-content-container {
  flex-basis: 1400px;
  flex-shrink: 1;
  flex-grow: 0;
  border: 2px dashed orange;
}

.inner-content-container__text-restriction {
  flex-basis: 1000px;
  flex-shrink: 1;
  flex-grow: 0;
}

.inner-content-container,
.inner-content-container__text-restriction {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.footer-navigation {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-align: center;
  padding: 32px 0;
  font-weight: 600;
}
/*

.image-wrapper  {
!*  position: relative;*!
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 1;
!*  overflow: hidden;*!
  border: 2px solid green;
}

.image-wrapper img {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
!*  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*!

}

.image-background {
  width: 500px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.object-fit {
  width: 500px;
  height: 250px;
  object-fit:cover;
}*/
